# Ignore environment files
.env
*.env

# Ignore generated or temporary data
_data/
traefik/.data
**/**/logs/
**/.data/
wireguard/config/
networking/traefik/certs/
networking/wireguard/config/

# Ignore log files
*.log

# Ignore Docker-related files
docker-compose.override.yaml
docker-compose.*.backup

# Ignore IDE/editor configurations and cache
.vscode/
.idea/
*.swp
*.bak

# Ignore sensitive keys and secrets
keys/
*.key
*.pem
*.cert

# Ignore backups
*.tar
*.zip
*.bak

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore Python virtual environments and dependencies
.venv/
__pycache__/
*.pyc
